<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RPMWare.Api.Client.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RPMWare.Api.Client.Properties.Settings>
            <setting name="ApiEmail" serializeAs="String">
                <value>demo@rpmware.com</value>
            </setting>
            <setting name="ApiPassword" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="RPMWare_Api_Client_RPMWareUser_User" serializeAs="String">
                <value>https://secure.rpmware.com/api/user.asmx</value>
            </setting>
            <setting name="RPMWare_Api_Client_RPMWareOrder_Order" serializeAs="String">
                <value>https://secure.rpmware.com/api/order.asmx</value>
            </setting>
        </RPMWare.Api.Client.Properties.Settings>
    </applicationSettings>
</configuration>